# Python / venv
*.pyc
__pycache__/
*.pyo
*.pyd
.env
.venv/
venv/

# Django
db.sqlite3
media/
staticfiles/
celerybeat-schedule
instance/
*.log

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Docker (se for o caso)
#já cobre completamente o banco de dados PostgreSQL
pgdata_matriculas/ 
docker-compose.override.yml
.env.local
.env.development
.env.testing
.env.production
.env.production.local
.env.staging